@font-face {
  font-family: "Pretendard-Regular";
  src: url("/fonts/Pretendard/Pretendard-Regular.woff");
}

@font-face {
  font-family: "Pretendard-Medium";
  src: url("/fonts/Pretendard/Pretendard-Medium.woff");
}

@font-face {
  font-family: "Pretendard-SemiBold";
  src: url("/fonts/Pretendard/Pretendard-SemiBold.woff");
}

* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  user-select: none;
  -webkit-touch-callout: none;
  font-family: "Pretendard-SemiBold";
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: white;
  z-index: 99;
  overflow: hidden;
}

a {
  text-decoration: none;
  display: flex;
}

header {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.circle1 {
  position: absolute;
  width: 160px;
  height: 160px;
  background-color: rgba(246, 190, 187);
  border-radius: 100%;
  top: -30px;
  left: -30px;
  z-index: -1;
}

.circle2 {
  position: relative;
  width: 60px;
  height: 60px;
  background-color: rgba(252, 233, 192, 0.6);
  border-radius: 100%;
  top: 30px;
  left: 90px;
  z-index: -1;
}

.circle3 {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: rgba(173, 227, 150);
  border-radius: 100%;
  left: -100px;
  top: 80px;
  z-index: -1;
}

.rubysIcon {
  width: 34vw;
}

.phrase {
  font-size: 1rem;
  color: #ff1234;
  margin-bottom: 10px;
}

.errorWrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.imgWrapper {
  text-align: center;
  padding-bottom: 1rem;
}

.loginForm {
  padding-top: 5vh;
}

.col {
  flex-direction: column;
  margin-top: 10vh;
}

.row {
  display: flex;
  margin-top: 3vh;
  justify-content: center;
}

.rowContainer {
  display: flex;
  width: 50%;
  justify-content: space-around;
}

.colIcon {
  width: 24px;
  height: 24px;
}

.appleIcon {
  margin-bottom: 2px;
}

.rowIcon {
  width: 3em;
  height: 3em;
  border-radius: 100%;
}

.iconContainer {
  display: flex;
  width: 75vw;
  margin: 10px;
  font-size: 16px;
  border-radius: 10px;
  flex-direction: row;
  color: black;
  padding: 13px;
}

.google {
  border: 1px solid black;
}

.apple {
  background-color: #000000;
  border: 1px solid black;
  color: white;
}

.kakao {
  color: #000000;
}

.naver {
  color: white;
}

.snsText {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

/* 모바일 가로, 테블릿 세로 (해상도 ~ 479px)*/
@media all and (max-width: 479px) {
}

/* 모바일 가로, 테블릿 세로 (해상도 480px ~ 767px)*/
@media all and (min-width: 480px) and (max-width: 767px) {
}

/* PC , 테블릿 가로 (해상도 768px ~ 1023px)*/
@media all and (min-width: 768px) and (max-width: 1023px) {
  .rubysIcon {
    width: 20vw;
  }
}

.rubysError {
  width: 7rem;
}

.errorTitle {
  font-size: 25px;
  font-weight: 700;
}

.errorSubTitle {
  font-size: 20px;
  font-family: "Pretendard-Medium";
}
